block header
  #header
    img#logo(src='/images/logo.png')
    #nav
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/archive') Archive
          li
            a(href='/categories') Categories
        
        img#mobile-menu(
          src='/images/mobile-menu.png',
          alt='Press for menu',
          title='press for menu'
        )
    header
      #title Seth Griffin's Blog
