block leftsidebar
  #left-sidebar
    #profile
      img(src='/images/bio-img.png', alt='Seth Griffin')
    #social
      a(href='https://github.com/seth-griffin', target='_blank', title='Check out my Github')
        i(class='fa fa-github fa-lg')
      a(href='https://twitter.com/realsethgriffin', target='_blank', title='I\'m on twitter')
        i(class='fa fa-twitter fa-lg')
      a(href='https://linkedin.com/in/seth-griffin-59920815b/', target='_blank', title='Connect on linkedin')
        i(class='fa fa-linkedin fa-lg')

    .aside
      aside
        .header
          span(class='header-title') Categories
        .contents
          ul
            li
              a(href='#') SEO
            li
              a(href='#') Thoughts
            li
              a(href='#') PHP
            li
              a(href='#') Business Management
            li
              a(href='#') DevOps

    .aside
      aside
        .header
          span(class='header-title') Archive
        .contents
          ul
            li
              a(href='#') 01/2016
            li
              a(href='#') 02/2016
            li
              a(href='#') 03/2016
            li
              a(href='#') 07/2016
            li
              a(href='#') 05/2018

