{% extends "layout.html" %}
{% block title %}Test title{% endblock %}
{% block content %}
  <div class="wrapper"><a class="site-title" rel="author" href="/">Seth Griffin</a><nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger"><a class="page-link" href="/about/">About</a></div>
      </nav></div>
</header>
<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title">About</h1>
  </header>

  <div class="post-content">
    <p>I’m Seth Griffin. I have worked for 20 years in the field of software development on all kinds of different technologies, languages and platforms. I love to code and I have also had the humble privilege to manage and lead teams of very talented software and DevOps engineers, both professionals and hackers alike. I am a language polyglot currently focussing on:</p>

<ul>
  <li>Python</li>
  <li>C/C++</li>
  <li>Java (Spring framework only for the time being)</li>
  <li>PHP (Core, Zend, Symfony and Magento I + II)</li>
  <li>In the past I have also coded C++ MFC desktop apps on Windows, a variety of .NET, COM, Web, CLI and Forms applications including win32 native apps</li>
</ul>

<p>I have successfully delivered solutions in the following verticals:</p>

<ul>
  <li>Air Travel</li>
  <li>Air Pollution Control</li>
  <li>E-commerce</li>
  <li>Fintech (Microlending)</li>
  <li>Web Marketing, Digital Marketing in both the Ad Agency and Affiliate marketing space</li>
  <li>Medical Information Systems (Message based, Event Driven CERNER integrations using python into Java Microservices within Ascension Health System)</li>
  <li>A breif stint in On Premise Intrusion Detection managing a team that wrote and maintained an updater system and internal build tool chain</li>
  <li>Construction (Roofing supply logistics and delivery)</li>
</ul>

<p>Technique wise I am adept at all of the following:</p>

<ul>
  <li>Agile</li>
  <li>Scrum</li>
  <li>XP (this wins my &lt;3)</li>
  <li>Microservices Architecture</li>
  <li>Event Driven and Message based data integration and ingest</li>
  <li>TDD, Unit Testing, Integration Testing, End to End Testing, Smoke Testing</li>
</ul>

<p>I have written and deployed working software on all of the following target platforms:</p>

<ul>
  <li>Internal and hybrid clouds using VMware and Pivotal Cloud Foundry</li>
  <li>Google Kubernetes Engine on google cloud</li>
  <li>Amazon Web Services (lambda, ec2)</li>
  <li>The legendary 486, Multiple pentium 4 applications, and the Radioshack TRS (trash) 80 color computer.</li>
  <li>Android (native / kotlin and cordova)</li>
  <li>Iphone (native / swift and cordova)</li>
</ul>

<p>I’ve also participated in very successful waterfall projects. My goal is to understand a customer problem, listen with empathy and drive toward the solution that the custom needs to solve their problem effectively using short feedback loops and frequently gathering customer feedback.</p>

<p>I strongly advocate for teams that I manage and believe in being a servant leader. I strive for a foundation that is both inclusive and celebrates diversity and want to contribute to a physically and psychologically safe environment for peers and team members.</p>

<p>I am definitely more of a hacker than a software engineer but I have made every effort over the years to incorporate enterprise design patterns and sound computer science principals and best practices into my work as often as I can.</p>

<p>My online footprint is small as I don’t use social media very much but you can find me over on linkedin.</p>

<p>I’m huge on helping people out and networking. Feel free to pick my brain, ask for referrals, letters of recommendation (if we’ve worked together in the past) or just drop me a line to say hey.</p>


  </div>

</article>

      </div>
    </main>
{% endblock %}
