{% extends "layout.html" %}
{% block title %}Seth Griffin | Home {% endblock %}
{% block content %}
  <div class="wrapper">
    <div class="home">
      <h2 class="post-list-heading">Posts</h2>
      <ul class="post-list">
        {% for post in posts %}
        <li>
          <span class="post-meta">{{ post.posted_on.strftime('%b %d, %Y') }}</span>
          <h3>
            <a class="post-link" href="{{ article_link(post) }}">
              {{ post.title }}
            </a>
          </h3>
        </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
    </div>
  </div>
{% endblock %}
