{% extends "layout.html" %}
{% block title %} Seth Griffin's Blog {% endblock %}
{% block content %}
     <div class="wrapper">
        <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ post.title }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ post.posted_on.strftime('%Y%m%dT%H%M%S.%fZ') }}" itemprop="datePublished">
        {{ post.posted_on.strftime('%b %d, %Y') }}
      </time>
    </p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    <h1 id="introduction-to-the-arc-programming-language">{{ post.title }}</h1>

    {{ post.content|safe }}

{% endblock %}
