doctype html
html
  head
    title= title
    include ./includes/styles    
  body
    a#topAnchor
    
    include ./includes/header

    block content

    include ./includes/leftsidebar

    block footer

    include ./includes/scripts
